body {
	/*padding: 2% 2% 2% 2%; do, no space for all content! like #ts*/
	font-size: 18px;
	font-family: "Lucida Grande";
	margin: 3px 5px 0 5px;
	letter-spacing: 0.2px;
	min-width: 750px;
}

.hint{
	font-size: 70%;
	color: #a3a3a3;
	margin-left: 2px;
}

a, a:visited{
	color: #1111cc;
	text-decoration:none;
}
a:hover{
	text-shadow: 0 0 5px #2299ff;
	text-decoration:none;
}

img{
	border: 0;
}

.hidden{
	display: none;
}

form > p{
	display: inline-block;
	width:280px;
}

form > p > select, form > p > input{
	width : 265px
}



/* an adaptation from buttons*/
.round{
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	/*cursor: pointer;*/
	text-align: center;
	text-decoration: none;
	font: 14px/100% Helvetica, sans-serif, "Lucida Grande";
	padding: 4px 8px 4px 8px;
	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
	
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#response{
	margin-top: 6px;
	width: 100%;
	height: 24px;
	text-align: center;
}

.error, .redbg{
	background-color: #ec3434  !important;
	color: black;
}
.succeed, .greenbg{
	background-color: #77ec34  !important;
	color: black;
}



/* top strip: the above all content, is a row deals with login */
#ts{
	font-size: 60%;
	/*border-bottom: dashed 1px #eee690;*/

	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#FFFFFF none repeat scroll 0 0;
}
	nobr > a, nobr > span > a{
		cursor: pointer;
	}
	
	#ts_left{
		
		padding-top:1px !important;
		float : left;
		height:20px;
	}
		#ts_left > nobr > span{
			margin-right:0.5em;
		}
	
	#ts_right{
		text-align:right;
		width: 100%;
		padding-top:1px !important;
		margin-right:8px;
		padding-bottom:3px !important;
	}
	
	.pillar{
		top : 24px
		height: 0;
		position: absolute;
		width: 100%;
		border-top: 1px solid #C9D7F1;
		font-size: 1px;
	}

#container{
	margin: 0;
	padding: 17px 0 0 0;
	clear: both;
}
	/* content header banner */
	#chb{
		left:0;
		position:relative;
		z-index:2;
	}
		#logoc{
			float:left;
			/*margin-top: -7px;*/
			padding: 0 18px 0 12px;
		}
	
			.logo{
				font-size: 100%;
				font-family: "Times New Roman", Times, serif;
				margin: 0;
				padding: 0;
			}
			
		#titlec{
			padding-bottom:2px;
			margin-left:188px;
			margin-right:252px;
			max-width:711px;
		}
			h2{
				padding : 0;
				margin: 0;
				font-size: 350%;
			}
		
		.chb_rigth{
			color: #AAAAAA;
			
			font-size: 60%;
			height: 32px;
			position: absolute;
			right: 0;
			top: 12px;
			width: 256px;
		}
	
	#neck{
		font-size:60%;
		margin-left:196px;
		margin-right:252px;
		max-width:695px;
		min-height:26px;
		padding-top:3px;
		position:relative;
		z-index:11;
	}
		/* neck info */
		#ni{
			
		}
	
	#stage{
		position : relative;
	}
		/* content */
		#sc{
			border-left:1px solid #D3E1F9;
			clear:both;
			margin-left:159px;
			margin-right:164px;
			padding: 5px 18px;
		}
			dd{
				/*background-color: #EEEEFF;
				margin: 0 0 25px 10px;
				padding: 0;
				vertical-align: middle;
				border-bottom: dotted 1px #9f8ecb;
				*/
				background-color:#FFEFC6;
				border-bottom:1px dotted #9F8ECB;
				margin:0 0 20px 10px;
				padding:5px 0 0 5px;
				vertical-align:middle;
			}
			
				.lang{
					display: inline-block;
					vertical-align: inherit;
					
					background-color: #ff6d13;
					padding: 5px;
					font-weight:bold;
					margin: 2px 3px 2px 1px;
					
					-webkit-border-radius: 2em;
					-moz-border-radius: 2em;
					border-radius: 2em;
				}
				
				.def{
					display: inline-block;
					vertical-align: inherit;
					
					font-size: 120%;
				}
			
				.creator{
					/*float:right;*/
					color:#005577;
					font-size: 80%;
					line-height:80%;
					margin-top:0;
					width: 100%;
					padding-left: 55px;
					line-height: 10px;
				}
				
			#madd{
				font-weight: bold;
				margin-left: 15px;
				margin-top: 20px;
			}
			
			/* Form verde de adicionar Def. */
			#addf{
				background-color:#AE8;
				margin:20px 20px 5px 25px;
				padding:10px;
				text-align:left;
				border-bottom:1px dotted #9F8ECB;
			}
			
		/* Ads or filling*/
		#sr{
			border-left:1px solid #D3E1F9;
			display:block;
			position:absolute;
			right:0;
			top:0;
			width:164px;
			font-size : 70%;
			text-align: center;
		}
		
			#sr > a{
				text-decoration: none;
			}
		
		/* menu */
		#sl{
			padding-left:4px;
			padding-top:3px;
			position:absolute;
			top:0;
			width:151px;
		}
			#sb > input{
				width : 60px;
				padding-left:2px;
			}
		
	#footer{
		margin-left:159px;
		margin-right:264px;
		padding:0 8px;
		max-width:711px;
	}
		
		#fpag{
			margin-left:159px;
			margin-right:264px;
			padding:0 8px;
			margin-left:168px;
			margin-right:272px;
			max-width:711px;
		}
		
		#fabout{
			margin: 19px auto; 
			text-align: center;
		}
		
		
		
	