<% @picture_title = {:url => 'gasa8a.png', :opts => {:style => "vertical-align: middle; ", :title => "GASA", :alt => "GASA"} } %>

<style type="text/css">
	/*.link{
		display: inline-block;
		margin-right: 10px;
	} */
</style>

<h3>Índice Completo</h3>
<% ("A".."Z").each do |letra| %>
	<span><%= link_to letra, list_url(:char => letra) %></span> &nbsp;&nbsp;
<% end %>
	<span><%= link_to "0-9", list_url(:char => '0-9') %></span> &nbsp;&nbsp;

<h3>Novas Siglas definidas</h3>
<% @new_siglas.each do |sigla| %>
	<span> <%= link_to sigla.sigla, url_def( sigla.sigla)  %> </span> &nbsp;&nbsp;
<% end %>

<br />
<br />

<!-- h3>Novas definições</h3>
< @pop_defs.each do |d| % >
	 <= d.sigla.sigla+" - "+d.definition % > <br />
< end %-->
