<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Siglas</title>
		<link rel="stylesheet" href="stylesheets/base.css" type="text/css" /> 
	</head>
	<body>
		<div id="ts">
			<div id="ts_left">
				<nobr>
					<%= image_tag 'bra_16_11.jpg' %> <%= image_tag 'por_16_11.jpg' %> PORTUGUÊS 
				</nobr>
			</div>
			<div id="ts_right" width="100%">
				<nobr>
					CRIE SUA CONTA | LOGIN
				</nobr>
			</div>
			<div style="left: 0pt;" class="pillar"></div>
			<div style="right: 0pt;" class="pillar"></div>
		</div>
						
		<div id="container">
			<div id="header">
				<span class="logo">LOGO LINDO</span>
			</div>
		</div>
	</body>
</html>
